     <%-include('../cabecalho.ejs')%>
     <header>
        <h3>Nova Gravadora</h3>
      </header>
      <div class="content">
  <form id="form-gravadora" autocomplete="off" action="/gravadora/add/ok" method="post">
          <div class="grid">
            <div>
              <label for="nome">Nome da Gravadora</label>
              <input id="nome" name="nome" type="text" placeholder="Ex:RCA Records" required>
            </div>
            <div>
              <label for="sede"> Sede</label>
              <input id="sede" name="sede" type="text" placeholder="Ex: Nova Iorque" required>
            </div>
            <div>
              <label for="website"> Sede</label>
              <input id="website" name="website" type="text" placeholder="Ex: www.rcarecords.com" required>
            </div>
           <div class="field-help">Os campos com * são obrigatórios.</div>
          <footer>
            <a type="button" class="btn ghost" id="btn-cancelar" href="/gravadora/lst">Cancelar</a>
            <button type="submit" class="btn primary">Adicionar Gravadora</button>
          </footer>
        </form>
      </div>

      <%-include('../rodape.ejs')%>